/*********css重置开始************/
*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1200px;

    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
/*********css重置结束************/
.head{
    height: 240px;
}
#header{
    background: #fba1a1 ;
    height: 52px;

}
.logo img{
    margin-top: 12px;
    margin-left: 140px;
    float: left;
    width: 82px;
}
#head{
    margin: 0;
    height: 52px;
    margin-left: 649px;
}
#background{
   height: 295px;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;

}
.wrapper #picture{
    position: absolute;
    left: 193px;
    top: 190px;
}
#ground{
    height: 2292px;
    background-color: #f3f3f3;
}
.back{
    height: 92px;
    background-color: #f3f3f3;
    width: 1170px;
}
.pic{
    width: 250px;
    margin-left: 22px;
    margin-right: 12px;
    height: 1000px;
    float: left;
}
.right{
    width: 827px;
    height: 850px;
    float: left;
    background: white;
    margin-bottom: 5px;
}
.top{
    width: 832px;
    height: 565px;
}
.float{
    float: left;
}
.pic img{
    margin-top: 23px;

}
.right .sculpture{
    width: 92px;
    height: 563px;
    float: left;
}
.right .swag{
    float: left;
    width: 707px;
}
.swag .webname{
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: bold;
}
.swag .discribe{
    font-size: 20px;
    margin-bottom: 17px;
    color: #484747;
}
.swag .date{
    color: #484747;
    margin-top: 12px;
    margin-bottom: 14px;
}
.line{
    width: 820px;
    height: 59px;
}
.line div{
    float: left;
    width: 108px;
    height: 25px;
    padding-left: 82px;
    margin-top: 19px;
    border-right:1px solid #e2e2e2;
    color: #8d8989;
}
.line{
    border-bottom:1px solid #e2e2e2;
    border-top:1px solid #e2e2e2;

}
.inputtext{
    height: 50px;
    width: 793px;
    border: 2px solid #f88181;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 9px;
}
.discusses{
    margin-left: 18px;
}
.but button{
    width: 86px;
    height: 36px;
    border-radius: 3px;
}
img[class="img"]{
    display: inline-block;
   margin-left:  722px;
    margin-top: 10px;
}
.smile{
    float: left;
}
.criticism{
    margin-left: 60px;
    height: 50px;
}
.reply{
    height: 20px;

}
.criticism .names{
    font-weight: bold;
}
.criticism .smiles{
    color: #a5a5a5;
}
.reply p{
    width: 154px;
    line-height:34px ;
    margin-right: 0px;
    color: #a5a5a5;
}
.reply p img{
    position:relative;
    top: 7px;
}
.reply p[class="replypic"]{
    width: 80px;
    float: right;
    position: relative;
    top: -32px;
}
#footer{
    width: 1380px;
    height: 200px;
    background: #4e4e4e;
    position: relative;
    margin: 0 auto;
}
#footer ul{
    float: left;
    padding: 20px;
    margin-left: 36px;
}
#footer a,p{
    color: white;
    font-size: 6px;
}
#footer p{
    padding: 20px;
}
